# Projet:  
- Réalisation d'une ApplicationDasboard avec Streamlit  
à partir de base de données open source sur les transactions 
de cartes de crédits.

- Lien web vers la source des données:  
[credits_cards_transactions](https://www.kaggle.com/datasets/priyamchoksi/credit-card-transactions-dataset)

## Importation des librairies

- Installation des librairies:  
Exécuter dans la cellule:  %pip install -r requirements.txt  
ou  
Exécuter dans le terminal (prompt ou powershell):  pip install -r requirements.txt

- Importation des librairies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
import random
import warnings 
warnings.filterwarnings("ignore")
pd.set_option("display.max_columns",None)
random.seed(123)

## Chargement des données

In [2]:
# Fonction pour charger les données

def load(file:str, size:int = 10**5, sep:str = ','):
    """--Docstring--
    fonction pour charger les données csv
    tout en optimisant la mémoire du système
    avec les fichiers volumineux. L'option
    size permet de charger les données par
    partition.
    Args:
        file: (string, file.csv or path )
        size: taille de la partition (integer, default = 100000)
              si la mémoire est insuffisante pour importer en un
              bloc.
        sep: séparateur (string, default = <,>)
    """

    try:

        data = pd.read_csv(file, sep=sep, index_col=0)
    
    except MemoryError:

        data = pd.read_csv(file, sep=sep, index_col=0,
                            chunksize = size)
    
    data.index.name = 'index'
    
    return data

In [3]:
# Chargement des données
path = "credit_card_transactions.csv"
financial_data = load(path)

## Exploration des données

### affichage des données

In [4]:
financial_data.head(5)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
index,,,,,,,,,,,,,,,,,,,,,,,
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,NC,28654,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,WA,99160,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,ID,83252,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,VA,24433,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

### description sur les types de variables

In [5]:
financial_data.columns

Index(['trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt',
       'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat',
       'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat',
       'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

In [6]:
# Fonction pour décrire le dataframe

def info(data):

    Information = pd.DataFrame({
        'Variables': data.columns,
        'Type': data.dtypes,
        'Unique_values': data.nunique(),
        'NA_counts': data.isna().sum(),
        'NA_percent%':data.isna().mean().round(4)*100
        }).reset_index(drop=True)

    return Information

# Application sur financial_data
info(financial_data)

                Variables     Type  Unique_values  NA_counts  NA_percent%
0   trans_date_trans_time   object        1274791          0         0.00
1                  cc_num    int64            983          0         0.00
2                merchant   object            693          0         0.00
3                category   object             14          0         0.00
4                     amt  float64          52928          0         0.00
5                   first   object            352          0         0.00
6                    last   object            481          0         0.00
7                  gender   object              2          0         0.00
8                  street   object            983          0         0.00
9                    city   object            894          0         0.00
10                  state   object             51          0         0.00
11                    zip    int64            970          0         0.00
12                    lat  float64            968          0         0.00
13                   long  float64            969          0         0.00
14               city_pop    int64            879          0         0.00
15                    job   object            494          0         0.00
16                    dob   object            968          0         0.00
17              trans_num   object        1296675          0         0.00
18              unix_time    int64        1274823          0         0.00
19              merch_lat  float64        1247805          0         0.00
20             merch_long  float64        1275745          0         0.00
21               is_fraud    int64              2          0         0.00
22          merch_zipcode  float64          28336     195973        15.11

### mise en forme du type des variables

In [7]:
# fonction pour mettre en forme

def conversion(var):

    # conversion des variables de type = <date>
    date_vars = ('trans_date_trans_time', 'dob')

    if var.name in date_vars:
        
        return pd.to_datetime(var, infer_datetime_format = True)


    # conversion des variables type = <objet>
    if (var.dtype=='object') and (var.name not in date_vars):

        # conversion en string
        if var.nunique() > 20:
            return var.astype('string')

        # conversion en catégorie 
        else:
            return var.astype('category')
    
    else:
        return var

In [8]:
# appication de la fonction sur les variables 
financial_data = financial_data.apply(conversion, axis = 0)
info(financial_data)

,Variables,Type,Unique_values,NA_counts,NA_percent%
0,trans_date_trans_time,datetime64[ns],1274791,0,0.00
1,cc_num,int64,983,0,0.00
2,merchant,string[python],693,0,0.00
3,category,category,14,0,0.00
4,amt,float64,52928,0,0.00
5,first,string[python],352,0,0.00
6,last,string[python],481,0,0.00
7,gender,category,2,0,0.00
8,street,string[python],983,0,0.00
9,city,string[python],894,0,0.00
10,state,string[python],51,0,0.00
11,zip,int64,970,0,0.00
12,lat,float64,968,0,0.00
13,long,float64,969,0,0.00
14,city_pop,int64,879,0,0.00
15,job,string[python],494,0,0.00
16,dob,datetime64[ns],968,0,0.00
17,trans_num,string[python],1296675,0,0.00
18,unix_time,int64,1274823,0,0.00
19,merch_lat,float64,1247805,0,0.00
20,merch_long,float64,1275745,0,0.00
21,is_fraud,int64,2,0,0.00
22,merch_zipcode,float64,28336,195973,15.11

### Création de nouvelles variables

- Variables dates

In [9]:
# mettre la variable trans_date_... au format 'jan-01-2020'
# avec une nouvelle variable

financial_data['date_transaction'] = pd.to_datetime(financial_data['trans_date_trans_time']
                                                                  .dt.strftime('%d-%b-%Y'))

# Extraire des informations sur la transaction : jour, mois, heure

financial_data['year_transaction'] = (financial_data['trans_date_trans_time']
                                                   .dt.year)

financial_data['day_transaction'] = (financial_data['trans_date_trans_time']
                                                   .dt.day.astype(int))

financial_data['month_transaction'] = (financial_data['trans_date_trans_time']
                                                   .dt.month_name().astype('category'))

financial_data['hour_transaction'] = (financial_data['trans_date_trans_time']
                                                   .dt.strftime('%H.%M')).astype(float)

# Créer une variable moment de la journée à partir de heure_transaction

condlist = [financial_data['hour_transaction'].between(6,12.59),
            financial_data['hour_transaction'].between(13,18.59),
            financial_data['hour_transaction'].between(19,23.59),
            financial_data['hour_transaction'].between(0,5.59)
            ]
choicelist = ['Morning: 6h-12h59',
              'Afternoon: 13h-18h59',
              'Evening: 19h-23h59',
              'Night: 00h-5h59'
              ]

financial_data['moment_transaction'] = np.select(condlist, choicelist, default=None)
financial_data['moment_transaction'] = financial_data['moment_transaction'].astype('category')

- Variables Âge, Nom, is_fraud

In [10]:
# Définir la date de référence pour le calcul de l'âge
reference_date = pd.to_datetime('2020-12-31')

# Calcul de l'âge de l'individu à partir de la date de naissance (dob) 
financial_data['age'] = ((reference_date - financial_data['dob']).dt.days/365).astype('int')

# Création de la variable groupe d'âge
financial_data['group_age']=pd.cut(financial_data['age'],
                                   bins=[14,31,46,60,100],
                                   labels=['15-30 ans', '31-45 ans','46-60 ans' ,'+60 ans']
                                  ).astype('category')

# Concaténer first(prénom) et last(nom_de_famille) pour avoir
# nom complet
financial_data['fullname'] = (financial_data['first'] +' '+ financial_data['last']).astype('string')

# Récoder la variable is_fraud 'oui'| 'non' en créant une nouvelle
financial_data['fraud'] = financial_data['is_fraud'].map({1:'oui',0:'non'}).astype('category')

In [11]:
info(financial_data)

,Variables,Type,Unique_values,NA_counts,NA_percent%
0,trans_date_trans_time,datetime64[ns],1274791,0,0.00
1,cc_num,int64,983,0,0.00
2,merchant,string[python],693,0,0.00
3,category,category,14,0,0.00
4,amt,float64,52928,0,0.00
5,first,string[python],352,0,0.00
6,last,string[python],481,0,0.00
7,gender,category,2,0,0.00
8,street,string[python],983,0,0.00
9,city,string[python],894,0,0.00
10,state,string[python],51,0,0.00
11,zip,int64,970,0,0.00
12,lat,float64,968,0,0.00
13,long,float64,969,0,0.00
14,city_pop,int64,879,0,0.00
15,job,string[python],494,0,0.00
16,dob,datetime64[ns],968,0,0.00
17,trans_num,string[python],1296675,0,0.00
18,unix_time,int64,1274823,0,0.00
19,merch_lat,float64,1247805,0,0.00
20,merch_long,float64,1275745,0,0.00
21,is_fraud,int64,2,0,0.00
22,merch_zipcode,float64,28336,195973,15.11
23,date_transaction,datetime64[ns],537,0,0.00
24,year_transaction,int32,2,0,0.00
25,day_transaction,int32,31,0,0.00
26,month_transaction,category,12,0,0.00
27,hour_transaction,float64,1440,0,0.00
28,moment_transaction,category,4,0,0.00
29,age,int32,81,0,0.00
30,group_age,category,4,0,0.00
31,fullname,string[python],973,0,0.00
32,fraud,category,2,0,0.00

### reorganisation des colonnes et exportation des données finales

In [12]:
# Réorganisation des columns

financial_data.rename(columns={'category':'business_sector',
                               'cc_num':'card_number',
                               'amt':'amount_USD'}, inplace = True)

list_vars = ['card_number', 'date_transaction','year_transaction' ,'month_transaction',
             'day_transaction', 'hour_transaction', 'moment_transaction','amount_USD',
             'fullname', 'gender', 'age', 'group_age', 'job', 'business_sector',
             'city', 'city_pop', 'state', 'lat', 'long', 'fraud', 'trans_num']

final_data = financial_data[list_vars].sort_values(by = 'date_transaction',
                                      ascending = True,
                                      ignore_index=True)

## Analyse Statistique des données

- fonction pour tableau Croisé de Statistiques descriptives

In [93]:
def cross_stat(data:pd.DataFrame, catlist:list, statvars:list):

    """--Docstring--
    fonction pour réaliser des statistiques
    sur des variables croisées.
    
    Args:
         data: le dataframe
         catlist: (list) variables catégorielles
         statvars: (list) variables continues
    
    return a dataframe
    """
    # initialisation d'un tableau vide
    table = pd.DataFrame()
    
    # Création de dictionnaire pour les indexes
    index_mapping = {value: cat for cat in catlist for value in data[cat].unique()}

    
    for var in statvars:

        for cat in catlist:
            
            X = data.groupby(by=cat)[var].agg(min = 'min',
                                              max = 'max',
                                              mean = 'mean',
                                              st_deviation = 'std',
                                              quartile1 = lambda x: x.quantile(0.25),
                                              median = 'median',
                                              quartile3 = lambda x: x.quantile(0.75),
                                              category_size = 'count')

            table = pd.concat([table,X], axis = 0, ignore_index = False)
    
        table.reset_index(names = 'valeurs', inplace = True)
        table['Categories'] = table['valeurs'].map(index_mapping)
        table.set_index(['Categories','valeurs'], inplace = True)
    
        print(f'Tableau Statistiques croisées sur: {var}')
        display(table.round(2))
        print('\n\n')

In [94]:
catlist = ['fraud','gender','group_age','moment_transaction']
statvar = ['amount_USD']
table = cross_stat(final_data,catlist,statvar)
table

Tableau Statistiques croisées sur: amount_USD

                                          min       max    mean  st_deviation  \
Categories         valeurs
fraud              non                   1.00  28948.90   67.67        154.01
                   oui                   1.06   1376.04  531.32        390.56
gender             F                     1.00  28948.90   70.20        156.99
                   M                     1.00  27390.12   70.53        164.25
group_age          15-30 ans             1.00  17897.24   69.21        157.70
                   31-45 ans             1.00  25086.94   75.54        150.91
                   46-60 ans             1.00  27390.12   67.55        168.55
                   +60 ans               1.00  28948.90   66.42        167.23
moment_transaction Afternoon: 13h-18h59  1.00  28948.90   63.40        190.11
                   Evening: 19h-23h59    1.00  26544.12   69.99        195.81
                   Morning: 6h-12h59     1.00  12518.62   72.87        107.66
                   Night: 00h-5h59       1.00   7747.73   78.38        103.59

                                         quartile1  median  quartile3  \
Categories         valeurs
fraud              non                        9.61   47.28      82.54
                   oui                      245.66  396.50     900.88
gender             F                          9.12   43.44      84.02
                   M                         11.38   51.67      82.42
group_age          15-30 ans                  9.35   46.64      80.21
                   31-45 ans                 14.35   52.74      86.05
                   46-60 ans                  8.96   43.81      81.91
                   +60 ans                    8.72   42.62      82.32
moment_transaction Afternoon: 13h-18h59       8.38   33.73      74.72
                   Evening: 19h-23h59         8.48   34.53      75.56
                   Morning: 6h-12h59         17.14   57.48      91.33
                   Night: 00h-5h59           28.57   61.85      95.66

                                         category_size
Categories         valeurs
fraud              non                         1289169
                   oui                            7506
gender             F                            709863
                   M                            586812
group_age          15-30 ans                    262529
                   31-45 ans                    439662
                   46-60 ans                    315026
                   +60 ans                      279458
moment_transaction Afternoon: 13h-18h59         392817
                   Evening: 19h-23h59           330225
                   Morning: 6h-12h59            318803
                   Night: 00h-5h59              254830