In [49]:
pip install pandas openpyxl

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pandas in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: et-xmlfile in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\fanti\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [50]:
import pandas as pd
from datetime import datetime,timedelta
from IPython.display import clear_output

Origin des données brutes 

# 1 _lien_de_donnée_credit_card
https://www.kaggle.com/datasets/priyamchoksi/credit-card-transactions-dataset

# Exploration et netoyage des données

Chargement de nos données

In [51]:
 # chargement de nos données
transaction_data = pd.read_csv(r"C:\Users\fanti\Music\universite paris-sorbonne\DataManagementAvecPandas\credit_card_transactions.csv")

les types de nos données

In [52]:
# pour voir les types de nos données,
transaction_data.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                     int64
merchant                  object
category                  object
amt                      float64
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                        int64
lat                      float64
long                     float64
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                  int64
merch_lat                float64
merch_long               float64
is_fraud                   int64
merch_zipcode            float64
dtype: object

Pour voir le contenu de nos données, nos differents variables

In [53]:
print(transaction_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
 23  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 237.4+ MB
None

Periode d'enregistrement de nos données

verification pour voir si ma colonne date est en DateTime

In [54]:
transaction_data['trans_date_trans_time']

0          2019-01-01 00:00:18
1          2019-01-01 00:00:44
2          2019-01-01 00:00:51
3          2019-01-01 00:01:16
4          2019-01-01 00:03:06
                  ...
1296670    2020-06-21 12:12:08
1296671    2020-06-21 12:12:19
1296672    2020-06-21 12:12:32
1296673    2020-06-21 12:13:36
1296674    2020-06-21 12:13:37
Name: trans_date_trans_time, Length: 1296675, dtype: object

In [55]:
print(transaction_data['trans_date_trans_time'].dtype)

object

Periode d'enregistrement des données, en calulant les dates de debut , de fin et la periode

In [56]:
transaction_data['trans_date_trans_time']= pd.to_datetime(transaction_data['trans_date_trans_time'])

start_date = transaction_data['trans_date_trans_time'].min()
end_date= transaction_data['trans_date_trans_time'].max()
period= end_date -start_date

print(f"Date de debut : {start_date} " )

print(f"Date de fin : {end_date}")

print(f"periode totale : {period}")

Date de debut : 2019-01-01 00:00:18
Date de fin : 2020-06-21 12:13:37
periode totale : 537 days 12:13:19

Vue d'ensemble de la taille globale de nos données

In [57]:
# pour les dimension de nos données, nous avons 129 667 5 lignes et 24 colonnes
transaction_data.shape

(1296675, 24)

un aperçu des permières colonnes de nos données

In [58]:
print("Aperçu des données de la transaction :")
print(transaction_data.head())

Aperçu des données de la transaction :
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      long city_pop  \
0    Banks      F                561 Perry Cove  ...  -81.1781     3495
1     Gill      F  43039 Riley Greens Suite 393  ... -118.2105      149
2  Sanchez      M      594 White Dale Suite 530  ... -112.2620     4154
3    White      M   9443 Cynthia Court Apt. 038  ... -112.1138     1939
4   Garcia      M              408 Bradley Rest  ...  -79.4629       99

                                 job         dob  \
0          Psychologist, counselling  1988-03-09
1  Special educational needs teacher  1978-06-21
2        Nature conservation officer  1962-01-19
3                    Patent attorney  1967-01-12
4     Dance movement psychotherapist  1986-03-28

                          trans_num   unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459

  is_fraud  merch_zipcode
0        0        28705.0
1        0            NaN
2        0        83236.0
3        0            NaN
4        0        22844.0

[5 rows x 24 columns]

Gestion des données manquantes

In [59]:
# Vérification du nombre de valeurs manquantes par colonnes

# ici avec le .isna j'identifie les valeurs manquantes par colonnes et apres je fait leur somme par colonne avec le .sum

nombre_de_valeurs_manquantes = transaction_data.isna().sum()

print(f"le nombre total des valeurs manquantes par colonnes est : { nombre_de_valeurs_manquantes}")

le nombre total des valeurs manquantes par colonnes est : Unnamed: 0                    0
trans_date_trans_time         0
cc_num                        0
merchant                      0
category                      0
amt                           0
first                         0
last                          0
gender                        0
street                        0
city                          0
state                         0
zip                           0
lat                           0
long                          0
city_pop                      0
job                           0
dob                           0
trans_num                     0
unix_time                     0
merch_lat                     0
merch_long                    0
is_fraud                      0
merch_zipcode            195973
dtype: int64

Suppression de la colonne merch_zipcode  qui contient des  valeurs manquantes assez important et n'est assez pertinents pour nos 
analyses a venir

In [60]:
transaction_data = transaction_data.drop(columns=['merch_zipcode'])
print("colonne merch_zipcode supprimé")

colonne merch_zipcode supprimé

In [61]:
# je vérifie mon DataFrame pour m'assurer que la colonne les valeurs manquantes à été bien supprimé
transaction_data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [62]:
print(transaction_data.describe())

         Unnamed: 0          trans_date_trans_time        cc_num  \
count  1.296675e+06                        1296675  1.296675e+06
mean   6.483370e+05  2019-10-03 12:47:28.070214144  4.171920e+17
min    0.000000e+00            2019-01-01 00:00:18  6.041621e+10
25%    3.241685e+05     2019-06-03 19:12:22.500000  1.800429e+14
50%    6.483370e+05            2019-10-03 07:35:47  3.521417e+15
75%    9.725055e+05     2020-01-28 15:02:55.500000  4.642255e+15
max    1.296674e+06            2020-06-21 12:13:37  4.992346e+18
std    3.743180e+05                            NaN  1.308806e+18

                amt           zip           lat          long      city_pop  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   7.035104e+01  4.880067e+04  3.853762e+01 -9.022634e+01  8.882444e+04
min    1.000000e+00  1.257000e+03  2.002710e+01 -1.656723e+02  2.300000e+01
25%    9.650000e+00  2.623700e+04  3.462050e+01 -9.679800e+01  7.430000e+02
50%    4.752000e+01  4.817400e+04  3.935430e+01 -8.747690e+01  2.456000e+03
75%    8.314000e+01  7.204200e+04  4.194040e+01 -8.015800e+01  2.032800e+04
max    2.894890e+04  9.978300e+04  6.669330e+01 -6.795030e+01  2.906700e+06
std    1.603160e+02  2.689322e+04  5.075808e+00  1.375908e+01  3.019564e+05

          unix_time     merch_lat    merch_long      is_fraud
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   1.349244e+09  3.853734e+01 -9.022646e+01  5.788652e-03
min    1.325376e+09  1.902779e+01 -1.666712e+02  0.000000e+00
25%    1.338751e+09  3.473357e+01 -9.689728e+01  0.000000e+00
50%    1.349250e+09  3.936568e+01 -8.743839e+01  0.000000e+00
75%    1.359385e+09  4.195716e+01 -8.023680e+01  0.000000e+00
max    1.371817e+09  6.751027e+01 -6.695090e+01  1.000000e+00
std    1.284128e+07  5.109788e+00  1.377109e+01  7.586269e-02

# Création de deux nouvelles variables en fonction des autres variables

# création de variables catégorielles

Ma 1ère variables crée est la variables géographique en combinant la colonne merh_lat et merch_long afin de calculer
la distance, cela me permettra de détecter des anomalies géographiques entre deux transactions successives pour une 
même carte de credit

In [63]:
transaction_data['geographique'] = transaction_data.apply(lambda row :(row['merch_lat'],row['merch_long']), axis=1)

In [64]:
transaction_data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,geographique
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,"(36.011293, -82.048315)"
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,"(49.159047, -118.186462)"
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,"(43.150704, -112.154481)"
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,"(47.034331, -112.561071)"
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,"(38.674999, -78.632459)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0,"(36.841266, -111.69076499999998)"
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0,"(38.906881, -78.246528)"
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0,"(33.619513, -105.130529)"
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0,"(42.78894, -103.24116)"
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0,"(46.565983, -114.18611)"

In [71]:

# creation de variables temporelles

def extraction_temps(transaction_data,trans_date_trans_time):

    transaction_data['année']=transaction_data[trans_date_trans_time].dt.year
    transaction_data['mois']=transaction_data[trans_date_trans_time].dt.month
    transaction_data['jour']=transaction_data[trans_date_trans_time].dt.day
    transaction_data['heure']=transaction_data[trans_date_trans_time].dt.hour

    return transaction_data

# Appliquer la fonction sur transaction_data
transaction_data = extraction_temps(transaction_data, 'trans_date_trans_time')

# Aperçu des nouvelles colonnes
print(transaction_data[['trans_date_trans_time', 'année', 'mois', 'jour', 'heure']].head())

  trans_date_trans_time  année  mois  jour  heure
0   2019-01-01 00:00:18   2019     1     1      0
1   2019-01-01 00:00:44   2019     1     1      0
2   2019-01-01 00:00:51   2019     1     1      0
3   2019-01-01 00:01:16   2019     1     1      0
4   2019-01-01 00:03:06   2019     1     1      0

In [66]:
transaction_data['trans_date_trans_time'].dtypes

dtype('<M8[ns]')

In [67]:
transaction_data['trans_date_trans_time'].head()

0   2019-01-01 00:00:18
1   2019-01-01 00:00:44
2   2019-01-01 00:00:51
3   2019-01-01 00:01:16
4   2019-01-01 00:03:06
Name: trans_date_trans_time, dtype: datetime64[ns]

In [68]:
transaction_data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,trans_num,unix_time,merch_lat,merch_long,is_fraud,geographique,année,mois,jour,heure
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,"(36.011293, -82.048315)",2019,1,1,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,"(49.159047, -118.186462)",2019,1,1,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,"(43.150704, -112.154481)",2019,1,1,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,"(47.034331, -112.561071)",2019,1,1,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,"(38.674999, -78.632459)",2019,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0,"(36.841266, -111.69076499999998)",2020,6,21,12
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0,"(38.906881, -78.246528)",2020,6,21,12
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0,"(33.619513, -105.130529)",2020,6,21,12
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0,"(42.78894, -103.24116)",2020,6,21,12
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0,"(46.565983, -114.18611)",2020,6,21,12

Analyse des données  sur les colonnes temporelle avec des groupBy

In [73]:
# le nombre de transaction groupe par année
Transactions_Annuel= transaction_data.groupby('année').size()
print(Transactions_Annuel)

année
2019    924850
2020    371825
dtype: int64

In [74]:
# la somme des transactions mensuelle
transactions_Mensuelle= transaction_data.groupby('mois')['amt'].sum()

print(transactions_Mensuelle)

mois
1      7422814.52
2      6974606.28
3     10190002.48
4      9452834.36
5     10304940.14
6     10143382.17
7      6044026.74
8      6047288.65
9      4949834.42
10     4851267.37
11     4923252.59
12     9918179.18
Name: amt, dtype: float64

In [76]:
# somme des transactions fraduleuses par jour

fraud_par_jour = transaction_data.groupby('jour')['is_fraud'].sum()

print(fraud_par_jour)

jour
1     209
2     264
3     269
4     223
5     177
6     158
7     242
8     263
9     177
10    256
11    310
12    324
13    242
14    270
15    240
16    209
17    277
18    224
19    305
20    348
21    221
22    231
23    234
24    205
25    262
26    207
27    205
28    291
29    257
30    218
31    188
Name: is_fraud, dtype: int64

In [80]:
# somme des transactions frauduleuse par heure
fraud_par_heure = transaction_data.groupby('heure')['is_fraud'].sum()

print(fraud_par_heure)

heure
0      635
1      658
2      625
3      609
4       46
5       60
6       40
7       56
8       49
9       47
10      40
11      42
12      67
13      80
14      86
15      79
16      76
17      78
18      81
19      81
20      62
21      74
22    1931
23    1904
Name: is_fraud, dtype: int64

In [83]:
# le nombre de transactions fraudleuse par mois , jour et heure

fraud_mois_jour_heure = transaction_data.groupby(['mois','jour','heure'])['is_fraud'].sum()

# Reformater les heures pour afficher "00:00", "01:00", ...
fraud_mois_jour_heure.index = fraud_mois_jour_heure.index.set_levels(
    fraud_mois_jour_heure.index.levels[2].map(lambda x: f"{x:02d}:00"), level=2
)

fraud_mois_jour_heure

mois  jour  heure
1     1     00:00    0
            01:00    0
            02:00    0
            03:00    1
            04:00    0
                    ..
12    31    19:00    0
            20:00    0
            21:00    0
            22:00    8
            23:00    6
Name: is_fraud, Length: 8760, dtype: int64

In [85]:
fraud_mois_jour_heure.head(24)

mois  jour  heure
1     1     00:00    0
            01:00    0
            02:00    0
            03:00    1
            04:00    0
            05:00    0
            06:00    0
            07:00    0
            08:00    0
            09:00    0
            10:00    0
            11:00    0
            12:00    0
            13:00    0
            14:00    0
            15:00    0
            16:00    0
            17:00    0
            18:00    0
            19:00    0
            20:00    0
            21:00    0
            22:00    1
            23:00    1
Name: is_fraud, dtype: int64